
html {
	font-family: "Open Sans", sans-serif;
}

p, label{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	display: flex;
	flex-flow: row;
	margin: 50px 50px 0 50px;
}

main {
	margin: 0 50px 0 50px;
}

footer {
	padding: 10px;
	text-align: center;
	margin: 0 50px 0 50px;
	height: 50px;
}

button {
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0 1px 0 #1570cd;
	margin: 10px 10px 10px 10px;
}

table {
	width: 100%;
}

#pageWrapper {
	min-width: 610px;
}

.inline {
	display: inline;
}

.styleSelect {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 10px 10px 10px 10px;
	width: 50%;
}

.newNote  {
	width: 50%;
	justify-content: flex-start;
	align-items: center;
	margin: 10px 10px 10px 10px;
}

.filterOptionen {
	display: flex;
}

.filters{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 10px 10px 10px;
	width: 80%;
	flex-direction: row;
	flex-wrap: wrap;
}

.showFinished {
	justify-content: flex-end;
	align-items: center;
	margin: 10px 10px 10px 10px;
	width: 20%;
	padding: 0;
	flex: 0 1 auto;
}

.noteEntry {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: flex-start;
	padding-top: 5px;
}

.noteEntry.header {
	font-weight: bold;
	padding-top: 8px;
	padding-bottom: 8px;
}

.text {
    text-overflow: ellipsis;
    width: 25%;
    align-self: auto;
}

.output {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.description {
    width: 500px;
	min-width: 400px;
    height: 60px;
}

.title {
	align-content: flex-start;
    width: 50%;
    padding: 0;
    margin: 0 0 10px 0;
}

.importance {
	align-content: flex-end;
	padding: 0;
	margin: 0 0 10px 0;
}


