
html {
	font-family: "Open Sans", sans-serif;
}


header {
	background:  #f3f3f3;

}

main {
	background: #f3f3f3;
}

.btn {
	
}

.btn_inactive {
   
}

.btn:hover {

}

.btn_active:hover{ 
  
}

.btn_active{
   background: red;
}

.btn_selected:hover {
	
}

.table-row {

}

/* Table Styles */
table {
	width: 100%;
}

.table-row.header {
	background-color: #FFEEDB;
	font-weight: bold;
}